<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.VdoAndroidSdk"
        tools:node="merge"
        tools:targetApi="31">
        <activity
            android:name=".RewardedInterstitialActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BannerActivity"
            android:exported="false" />
        <activity
            android:name=".InterstitialAdActivity"
            android:exported="false" />
        <activity
            android:name=".RewardedVideoActivity"
            android:exported="false" />
        <activity
            android:name=".NativeTemplateAdActivity"
            android:exported="false" />

        <!-- Sample Ad Manager app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="29x14AhBCSieP6pWR2geDWzvg7Adfrvo8gm4RggV1C_I2yip1LuodSvbf4fR4EsDodOuVIxCWdviGmIqOrZXNd" />
    </application>

</manifest>